@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeueCE35Thin.ttf)
}

* {
    margin: 0;
    padding: 0
}

.clear {
    clear: both
}

#sticky.stick.current {
    top: 30px !important
}

input#mc-embedded-subscribe {
    background-color: #333 !important;
    border: 1px solid white !important;
    border-radius: 0px !important;
    color: white
}

textarea,
select,
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0
}

input#submit {
    cursor: pointer
}

section#cbb {
    width: 95%;
    margin: 0 auto
}

div#content {
    width: 90%;
    margin: 0 auto
}

.content_block_background,
.wrap {
    width: 100%;
    margin: 0 auto
}

a.closeenq {
    top: 0;
    left: 160px
}

div#mm-container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0
}

.mm-header {
    width: 90%;
    margin: 0 auto
}

#sticky-anchor + #sticky.stick {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0;
    left: 0;
    right: 0;
    background: #fff;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 0px 5px #274a70
}

.mm-logo {
    width: 30%;
    float: left
}

.mm-header_right {
    width: 70%;
    float: left
}

.mm-log-part,
.mm-signup-btn,
.mm-language,
div#mm-login-bth,
.mm-header-inquire,
.mm-mobile_menu {
    width: auto;
    float: right
}

div#mm-login-bth .member-box {
    float: right;
    width: auto;
    margin-left: 10px;
    padding: 4px 10px;
    background: #333;
    color: #fff;
    text-align: right;
    border: 0px;
    cursor: pointer;
    font-size: 14px
}

.login input {
    width: 54%;
    font-size: 12px;
    padding: 6px 5%;
    float: right;
    margin: 3px auto
}

p.login-username label,
p.login-password {
    position: relative;
    top: 2px
}

.login {
    right: 60px;
    top: 68px;
    width: 190px;
    font-size: 12px;
    line-height: 25px
}

div#tog-login {
    top: 37px;
    right: 61px
}

.login a {
    float: left;
    text-decoration: none;
    font-weight: 600
}

.login-remember label {
    float: left;
    width: auto;
    line-height: 20px
}

#loginform .login-remember label input {
    width: inherit;
    float: left;
    margin-right: 5px
}

div#tog-login .log_invalid {
    color: #ff0000;
    position: absolute;
    top: 135px;
    left: 28px;
    margin: 0;
    font-size: 13px;
    right: 0
}

.login input[type="submit"] {
    width: auto;
    background: transparent;
    color: #fff;
    text-align: right;
    border: 1px solid white;
    border-radius: 0px
}

.login input[type="submit"]:hover {
    background-color: #20436b
}

p.login-remember + p.login-submit {
    position: relative;
    bottom: 15px
}

.mm-signup-btn .signupp {
    width: auto;
    margin-left: 0px;
    padding: 4px 10px;
    background: #333333;
    color: #fff;
    text-align: right;
    border: 0px;
    cursor: pointer;
    height: 25px;
    font-size: 14px
}

.mm-header-cart.but_cart {
    position: relative;
    width: 90px;
    margin: 0 10px;
    text-align: right
}

.mm-header-cart.but_cart a {
    color: #333333;
    text-decoration: none;
    font-family: Helvetica !important;
    font-size: 13px;
    vertical-align: sub;
    margin: 0px 10px;
    margin-left: 0;
    text-transform: uppercase;
    position: relative;
    top: 7px
}

span.cart-icon {
    position: absolute;
    top: -3px;
    color: #1c4169;
    left: -5px;
    font-size: 29px
}

span.cart-icon img {
    width: 33px
}

.noti_number {
    border-radius: 7px;
    color: #ffffff;
    padding: 1px 12px;
    background: rgb(51, 51, 51);
    font-weight: bolder;
    position: absolute;
    top: -19px;
    right: 0;
    font-size: 11px;
    text-align: center;
    width: 8px
}

#sticky-anchor + #sticky.stick div#top-header-left {
    display: block !important
}

#sticky-anchor + #sticky.stick div#mm-login-bth,
#sticky-anchor + #sticky.stick .mm-signup-btn,
#sticky-anchor + #sticky.stick .mm-language {
    display: none
}

div#lang_sel {
    z-index: 10001;
    margin-right: 10px
}

div#top-header-left {
    width: 100%;
    float: left
}

#menu-header_menu li .sub-menu {
    width: 175px;
    position: absolute;
    top: 24px;
    right: 0px;
    margin: 0px;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.79);
    display: none;
    z-index: 9999
}

.mm-header_menus {
    background: #333 none repeat scroll 0 0;
    float: right;
    margin: 10px 0 0;
    padding: 6px 12px
}

ul#menu-header_menu {
    list-style-type: none
}

ul#menu-header_menu li {
    display: inline
}

span.arrow_up:before {
    content: '\25bc';
    padding-left: 0;
    padding-right: 3px;
    color: #fff;
    z-index: 10001;
    font-size: 15px
}

ul#menu-header_menu li a {
    text-decoration: none;
    color: white;
    background: transparent;
    padding: 5px 10px;
    font-size: 14px
}

#menu-header_menu li .sub-menu {
    position: absolute;
    top: 23px;
    right: 0px
}

#menu-header_menu li .sub-menu a {
    width: 100%;
    line-height: 30px
}

.cycloneslider-slides.cycle-slideshow {
    width: 90%;
    margin: 0 auto
}

.header-banner div#cycloneslider-main-1 {
    max-width: 90%;
    margin: 0 auto
}

.header-banner + .wrap {
    width: 100%;
    margin: 0 auto;
    margin-top: 2px;
    padding: 10px 0px
}

.under-header-right,
.header_content {
    border-radius: 0px;
    width: 100% !important;
    float: left;
    padding: 30px 50px;
    margin-top: 30px
}

div#page-heading {
    width: 100%;
    margin: 0 auto;
    background: #333333
}

div#page-heading .page-title {
    color: #fff;
    font-size: 18px;
    padding: 7px 17px;
    background: transparent;
    font-weight: normal
}

.breadcrumb {
    background: rgb(228, 228, 228);
    padding: 10px;
    margin-bottom: 20px
}

.breadcrumb a {
    text-decoration: none;
    color: black
}

div#custom_login {
    width: 100%;
    margin: 0 auto
}

span.custom-login-form-heading {
    padding: 5px 0
}

div#custom-login-form {
    width: 100%;
    padding: 10px 0;
    margin: 0px
}

input#pr_wp_submit {
    background: #333333;
    color: #fff;
    cursor: pointer
}

.mm-coustom-form #product-loginform p.login-username {
    width: 18%;
    float: left;
    clear: inherit;
    margin: 2px
}

.mm-coustom-form #product-loginform p.login-username input,
.mm-coustom-form #product-loginform p.login-password input {
    width: 100%;
    border: solid 1px #333;
    padding: 8px 0
}

.mm-coustom-form #product-loginform p.login-submit,
.mm-coustom-form .sign-up-button {
    margin: 3px 10px
}

.wrap.pm_cumt {
    width: 100%;
    margin: 0 auto
}

.wrap.pm_cumt .list_mm {
    padding: 10px 0
}

.range_filter,
.category_filter {
    width: 27%;
    float: left
}

.range_filter h2,
.category_filter h2 {
    width: auto;
    margin-top: 5px
}

.range_filter select#pro_cat,
.category_filter select#pro_cat1 {
    width: 60%;
    float: left;
    margin-left: 8px;
    line-height: 20px;
    padding: 8px 10px
}

.boxs {
    width: 100%;
    float: left;
    margin: 20px 0
}

.exclusive_box,
.ex-exclusive_box,
.box {
    width: 24%;
    min-height: 254px;
    padding: 0;
    position: relative;
    text-align: center;
    margin-bottom: 2%;
    margin-right: 0.8%
}

.exclusive_img,
{
    background: #d1cfcb;
    height: 200px;
    position: relative
}

.exclusive_box img,
.ex-exclusive_box img,
.box img {
    width: 100%;
    background-size: cover
}

.exclusive_box h3,
.exclusive_box a,
.ex-exclusive_box h3,
.box h3 {
    min-height: 50px;
    text-align: center;
    color: #534b4b !important;
    line-height: 38px;
    word-break: Keep-All;
    font-size: 13px
}

.single-post-img {
    position: relative
}

.exclusive_inq,
.single-inqury-btn {
    position: absolute;
    top: 0;
    width: auto;
    left: 0;
    right: 0
}

.but_mm-single {
    margin: 0;
    padding: 0;
    float: none;
    cursor: pointer;
    width: 100%
}

.but_mm {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    float: none
}

.exclusive_inq a,
.single-inqury-btn .but_mm-single a {
    background: rgba(255, 255, 255, 0.64) !important;
    border: 0;
    border-radius: 0;
    display: block;
    margin: 0;
    padding: 0;
    min-height: auto;
    font-size: 18px;
    color: #1E426A !important
}

.but_mm-single a {
    border: 0;
    border-radius: 0;
    display: block;
    margin: 0px;
    padding: 8px 0px !important;
    background: #333333;
    color: #333
}

.exclusive_inq a:hover,
.but_mm-single a:hover {
    background: rgba(255, 255, 255, 0.5) !important;
    color: #333 !important
}

select#currency {
    padding: 8px 10px;
    width: 15%;
    margin-left: 7px;
    line-height: 16px
}

.single-posts_left img {
    width: 100%;
    float: left;
    margin: 0 0 25px 0px;
    height: 100%
}

.linking-menu {
    width: 98%;
    padding: 0;
    margin: 20px auto;
    float: left
}

.linking-menu ul {
    background: #333333;
    color: white;
    padding: 10px
}

.linking-menu ul li {
    padding: 0 10px
}

.linking-menu ul li a {
    text-decoration: none;
    color: #fffec9
}

ul.what-we-do-ul {
    width: 95%;
    margin: 0 auto
}

.wrap-infra {
    width: 100% !important;
    margin: 0 auto
}

.block-content-infra-right img {
    width: 30%;
    height: auto;
    float: left;
    margin: 6px 12px
}

.certificate {
    width: 100%;
    margin: 0 auto
}

.certificate ul {
    width: 100%;
    list-style-type: none
}

.certificate ul li {
    display: inline;
    width: 24.33%;
    float: left;
    text-align: center;
    vertical-align: middle;
    height: 150px;
    position: relative;
    margin: 15px 0
}

.certificate ul li img {
    width: 100px
}

.certificate ul li:nth-child(3) img {
    width: auto;
    position: relative;
    top: 5px
}

.certificate ul h2 {
    width: auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px
}

h2.history-head {
    color: #333333;
    font-style: initial;
    padding: 10px 10px;
    float: left;
    width: 95%;
    border-left: 5px solid #333333;
    margin: 15px 0
}

p.indianart-history {
    color: #484848;
    font-size: 15px !important;
    line-height: 23px !important;
    margin: 0 auto;
    width: 95% !important;
    display: -webkit-box
}

.history-main {
    width: 95%;
    margin: 0 auto
}

.history-section1,
.history-section2 {
    width: 100%;
    float: left
}

.history-section1 .right-img,
.history-section2 .left-img {
    width: 30%;
    float: right
}

.history-section1 .right-img img,
.history-section2 .left-img img {
    width: 100%;
    float: left;
    height: auto
}

.info-left,
.info-right {
    width: 70%;
    float: left
}

.exclu_bfr_login {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0
}

.exclu_login,
.exclu_signup {
    width: 44%;
    margin: 1%;
    padding: 2%;
    background: rgb(228, 228, 228)
}

.exclu_login input#user_login,
.exclu_login input#user_pass {
    background: hsl(0, 0%, 100%) !important;
    border: 1px !important;
    margin-top: 5px !important;
    border-radius: 0 !important
}

.exclu_login p.login-password + a {
    line-height: 40px;
    text-decoration: none;
    color: #333333 !important
}

.exclu_signup h2 + hr + p {
    padding: 10px 0;
    font-size: 16px !important;
    color: hsl(0, 0%, 20%)
}

.exclu_login #loginform .login-submit input {
    background: #333;
    margin-top: 15px;
    padding: 8px 15px;
    width: 30%;
    cursor: pointer;
    color: #fff;
    float: left;
    margin: 10px
}

.excl-range-box {
    width: 100%;
    margin: 20px auto;
    position: relative
}

div#exclusive-banner {
    width: 100%;
    margin: 0 auto;
    border: #e8e8e8 1px solid
}

div#exclusive-banner img {
    width: 100%;
    margin: 0 auto
}

div#exclusive-range {
    position: absolute;
    top: 8%;
    left: 33.33%;
    right: 33.33%;
    width: 33.33%;
    background: rgba(245, 245, 220, 0.55);
    padding: 10px;
    height: 110px;
    border-radius: 25px
}

div#exclusive-range span {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: #5f5d5d;
    font-family: Helvetica !important
}

div#exclusive-range select.select_box.range_box {
    float: left;
    width: 60%;
    position: relative;
    left: 20%;
    right: 20%;
    background: rgba(113, 112, 102, 0.16);
    height: 44px;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    color: #464448;
    border: 2px solid white;
    box-shadow: 1px 0px 5px
}

div#exclusive-text {
    width: 90%;
    margin: 0 auto;
    padding: 20px
}

section.content_block_background p {
    font-size: 14px;
    line-height: 22px;
    width: 100%
}

.exclusive-sidebar {
    width: 20%;
    float: left;
    padding: 5px 15px;
    margin: 0 12px
}

.exclusive-sidebar ul.exclusive-mm {
    padding: 5px 15px !important;
    width: 100% !important;
    margin-top: 18px
}

.exclusive-sidebar ul.exclusive-mm li ul li h2 {
    background: transparent;
    border: 0px;
    color: #373737;
    text-align: left;
    padding: 0px
}

.exclusive-sidebar ul.exclusive-mm li ul li a {
    background: transparent;
    border: 0px;
    color: #373737;
    text-align: left;
    padding: 0px;
    padding-left: 10px
}

.exclusive-sidebar ul.exclusive-mm li ul li a:before {
    content: "\00BB";
    font-size: 15px;
    padding-right: 5px
}

.after-range-area {
    width: 100%;
    margin: 0 auto
}

.exclusive-sidebar + div#cat-dropdown {
    width: 75%;
    float: left;
    margin: 20px auto
}

.after-range-area div#exclusive-blog {
    width: 100%;
    margin: 0 auto
}

.after-range-area .image_tax {
    width: 100%;
    float: left;
    height: 400px
}

.after-range-area img.attachment-.size- {
    margin: 0 auto;
    width: 100%;
    float: left
}

.after-range-area .des_tax {
    width: 100%;
    float: left;
    margin-top: 20px
}

.after-range-area + .ex-boxs {
    width: 100% !important;
    float: left !important
}

.after-range-area + .ex-boxs .but_mm {
    text-align: center;
    margin: 20px auto;
    width: 50%;
    display: block;
    position: relative;
    top: -15px;
    float: none
}

.after-range-area + .ex-boxs .but_mm a {
    background: transparent;
    border: 1px solid #333;
    border-radius: 0;
    color: #333;
    float: left;
    font-size: 16px;
    margin: auto;
    padding: 8px 0px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
    cursor: pointer
}

.after-range-area + .ex-boxs .but_mm a:hover {
    background-color: #f2cb66;
    color: black
}

.after-range-area .cat-fillter {
    margin: 0px;
    height: 50px;
    width: 40%
}

.tax_product {
    margin: 20px auto;
    background: rgb(228, 228, 228);
    padding: 20px 15px;
    font-size: 30px;
    color: #333333
}

.category_filter .ex-exclusive_box {
    margin-right: 1%;
    width: 33%;
    min-height: 254px;
    padding: 0;
    position: relative;
    text-align: center;
    margin-bottom: 2%
}

.category_filter .ex-exclusive_box img {
    width: 100%;
    background-size: cover
}

.category_filter .ex-exclusive_box .but_mm {
    position: relative;
    top: -15px
}

.category_filter .ex-exclusive_box .but_mm a {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    float: left;
    font-size: 14px;
    margin: auto;
    padding: 8px 0px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
    cursor: pointer
}

.category_filter .ex-exclusive_box .but_mm a:hover {
    background-color: #f2cb66;
    color: black
}

.breadcrumb + .wrap.pm_cumt .breadcrumb {
    display: none
}

.contact-info,
.contact-info p iframe {
    width: 100%;
    float: left;
    margin: 20px auto
}

.contact-left {
    width: 47%;
    float: left;
    margin-right: 1%;
    background: #e4e4e4;
    padding: 20px
}

.contact-right {
    width: 47%;
    float: left;
    margin: 0 auto
}

div#footer-area {
    width: 100%;
    float: left;
    margin: 0 auto;
    background-color: #333
}

.footer-wrap {
    width: 90%;
    margin: 0 auto
}

.footer-one,
.footer-two,
.footer-three,
.footer-four {
    width: 25%;
    float: left
}

ul#footer-content,
ul#menu-footer_menu {
    list-style-type: none;
    padding: initial
}

ul#footer-content li a,
ul#footer-content h2,
ul#footer-content .textwidget {
    text-decoration: none;
    color: #fff
}

ul#footer-content h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
    text-transform: uppercase;
    color: #fffec9;
    line-height: 20px
}

ul#footer-content .textwidget {
    font-size: 13px;
    line-height: 22px
}

ul#footer-content.social-icon li img {
    width: 35px;
    float: left;
    margin-right: 10px;
    margin-bottom: 25px
}

.footer_bottom {
    width: 90%;
    margin: 0 auto;
    float: none
}

.footer_bottom #copyright-info,
.footer_bottom #news-latter {
    width: 50%;
    float: left
}

div#mc_embed_signup {
    background: transparent;
    color: #fff
}

div#mc_embed_signup_scroll {
    width: 100%;
    float: left
}

div#mc_embed_signup_scroll label {
    width: auto;
    float: left;
    line-height: 36px
}

#copyright-info h6 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #fff;
    width: 100%;
    float: left;
    text-align: right;
    vertical-align: middle;
    margin-top: 8px;
    line-height: 36px
}

ul#menu-footer_menu li,
li.last-menu-footer,
ul#footer-content li {
    padding: 3px 0
}

form#regis_form {
    width: 60%;
    padding: 5px
}

form#regis_form input,
form#regis_form select {
    margin: 5px 0
}

form#regis_form p.form-input-custom {
    width: 50%;
    margin: 10px 0;
    float: left;
    text-align: left;
    position: relative
}

form#regis_form input,
form#regis_form select {
    margin: 5px 0
}

p#captcha-area {
    position: relative
}

small.captcha-text {
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
    clear: both
}

p#captcha-area input[type="text"] {
    position: relative;
    width: 60%;
    float: left;
    left: 0
}

select#country {
    margin: 16px 0 3px 0
}

img#captchaimg {
    padding: 0px;
    width: 100px;
    height: auto !important
}

label.captcha-label {
    width: 100%;
    display: block;
    float: left
}

#regis_form .error {
    color: red;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 0;
    display: block;
    left: 69px
}

#regis_form .email-error {
    color: red;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 0;
    display: block;
    left: 69px
}

.box.two-three p {
    width: 100%;
    margin: 100px 0 110px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5
}

.approve_user input[type="submit"] {
    padding: 8px;
    color: #fff;
    background: #000
}

.approve_user {
    margin: 12% 32%
}

form#user-approve {
    width: 100%;
    float: left;
    text-align: center
}

#user-approve span {
    width: 100%;
    float: left;
    font-weight: bold
}

#user-approve input[type="radio"] {
    margin: 30px 5px
}

.approve_user input[type="submit"] {
    padding: 9px;
    color: #fff;
    background: #000;
    text-transform: uppercase;
    display: block;
    text-align: center;
    width: 25%;
    margin: 0 auto;
    cursor: pointer
}

.thank-you {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 8.5%
}

.wp-pagenavi {
    width: 95%;
    margin: 0 auto;
    padding: 12px 0px;
    background: #333333;
    color: #fff;
    font-size: 19px;
    text-align: center;
    font-family: sans-serif
}

span.current {
    border: 1px solid #FFFFFF;
    background: #fff;
    color: #333;
    padding: 5px 10px
}

.wp-pagenavi a {
    color: #fff;
    padding: 5px 10px
}

span.pages {
    border: none
}

.ex-exclusive_box h3 {
    text-transform: uppercase
}

img.img_size {
    width: 90px;
    padding: 6px;
    height: 100px !important;
    border: 0
}

.outside {
    position: relative;
    top: -150px;
    z-index: 1
}

span#slider-prev {
    position: absolute;
    left: 25px;
    background: #333333;
    height: 37px;
    border-radius: 50px 0 12px 50px;
    top: -7px
}

a.bx-prev {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    line-height: 37px
}

span#slider-next {
    position: absolute;
    right: 25px;
    background: #333333;
    height: 30px;
    border-radius: 0px 50px 50px 0px;
    top: -2px
}

a.bx-next {
    background: #333333;
    border-radius: 0px 50px 50px 0px;
    padding: 10px;
    color: #fff;
    text-decoration: none
}

li.img-slider {
    width: 616px !important;
    height: 400px !important
}

.bx-wrapper {
    margin: 0 auto 30px !important
}

.bx-pager.bx-default-pager {
    display: none
}

.bx-viewport {
    border: 0px !important;
    box-shadow: none !important
}

input.forget-submit {
    color: white;
    background: #333333;
    width: 50% !important;
    float: right
}

input.forget {
    border: 1px solid gray;
    padding: 5px
}

label.forget-label {
    display: block;
    width: 137px !important
}

.reset-pass {
    width: 400px !important;
    margin: 0 auto;
    padding: 36px;
    margin-top: 5%;
    border: solid 0px #333;
    margin-bottom: 30px;
    float: none;
    border-radius: 13px;
    box-shadow: 0px 0px 4px #2A4C72
}

.signin-form {
    width: 100%;
    margin: 0 auto
}

form#resetpassform {
    width: 95%;
    margin: 0 auto
}

form#resetpassform input {
    width: 95%;
    padding: 10px;
    margin: 10px 0
}

p.mandatory {
    text-align: right;
    font-weight: 700;
    color: #333333
}

p.heading-reset {
    font-size: 20px !important;
    color: #fff;
    background: #333333;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    position: relative;
    top: -55px
}

.exclusive_img img {
    height: 200px !important
}

.page-template-thank-you section#cbb {
    min-height: 340px !important
}

.header_content h1 + p {
    width: 84%;
    margin: 0 auto;
    text-align: justify
}
