@media (min-width: 320px) and (max-width: 568px) {
    .mm-header,
    .footer-wrap,
    .footer_bottom,
    .mm-logo,
    .mm-header_right {
        width: 100%
    }
    #sticky-anchor + #sticky.stick {
        position: relative;
        padding: 0;
        box-shadow: none
    }
    div#sticky-anchor {
        height: 0
    }
    .mm-logo img {
        position: relative;
        left: 10px;
        right: 10px;
        width: auto
    }
    .mm-log-part {
        width: 100%;
        float: left;
        margin: 0
    }
    div#mm-login-bth {
        float: left
    }
    div#tog-login {
        position: absolute;
        left: 10px;
        top: 114px;
        width: 250px
    }
    .mm-signup-btn {
        float: left;
        margin-left: 10px
    }
    .mm-header-cart.but_cart {
        position: absolute;
        right: 65px
    }
    div#top-header-left {
        width: 50%;
        float: left;
        margin: 10px 0
    }
    div#mm-login-bth {
        margin: 0 10px;
        line-height: 17px;
        margin-right: 0px
    }
    .mm-language {
        display: none
    }
    ul#menu-header_menu {
        right: 20px;
        width: 86%
    }
    .mm-header_menus {
        float: left;
        background: none;
        width: 40%;
        position: relative
    }
    .mm-mobile_menu {
        width: 30px;
        float: right;
        display: block;
        right: 10px;
        position: absolute
    }
    .mm-mobile_menu span {
        width: 100%;
        height: 3px;
        float: left;
        margin-bottom: 3px;
        background: #333
    }
    .mm-header_menus:hover {
        display: block
    }
    .mm-header_menus ul li {
        width: 90%;
        float: left;
        padding: 0px 6%
    }
    #menu-header_menu li .sub-menu li {
        width: 80%;
        float: left
    }
    ul#menu-header_menu {
        position: absolute;
        right: 9px;
        width: 190px !important;
        top: 30px
    }
    .mm-header_menus ul {
        display: none;
        background-color: rgba(18, 18, 19, 0.9);
        z-index: 10001
    }
    ul#menu-header_menu li a {
        display: block;
        width: auto;
        float: left
    }
    span.arrow_up {
        color: #333333;
        width: 81px;
        float: left;
        margin-top: 3px;
        left: -70px;
        position: relative;
        text-align: right
    }
    span.arrow_up:before {
        content: '\203A';
        transform: rotate(90deg);
        padding-left: 0;
        padding-right: 3px;
        color: #fff;
        z-index: 10001
    }
    #menu-header_menu li .sub-menu a {
        width: 100%;
        line-height: 17px;
        background: black;
        padding: 7px
    }
    #menu-header_menu li .sub-menu {
        position: absolute;
        top: 23px;
        left: 7px;
        background-color: rgba(216, 208, 208, 0.49)
    }
    section#cbb {
        width: 90%;
        margin: 0 auto;
        clear: both
    }
    span.custom-login-form-heading {
        width: 90%
    }
    .mm-coustom-form #product-loginform p.login-password,
    .mm-coustom-form #product-loginform p.login-username {
        width: 100%;
        float: left;
        padding: 0px !important;
        margin-bottom: 10px !important;
        margin: 0
    }
    .mm-coustom-form #product-loginform p.login-submit {
        width: auto;
        float: left;
        clear: inherit;
        margin: 0;
        padding: 0;
        margin-right: 10px !important;
        padding: 3px !important
    }
    .range_filter,
    .category_filter {
        width: 100%;
        float: left;
        margin: 5px 0;
        margin-right: 0;
        padding: 0
    }
    .range_filter select#pro_cat,
    .category_filter select#pro_cat1 {
        width: 55%;
        float: right;
        padding: 8px 10px !important
    }
    .exclusive_box,
    .box {
        width: 100%;
        height: auto
    }
    .exclusive_box h3,
    .exclusive_box a,
    .ex-exclusive_box h3,
    .box h3 {
        font-size: 12px
    }
    .single-posts_left,
    .single-posts_right {
        width: 100%;
        float: left
    }
    .product-col {
        width: 130px
    }
    .product-row {
        position: relative
    }
    select#currency {
        position: absolute;
        left: 200px;
        top: 2px
    }
    img.about-us-img {
        margin-bottom: 10px;
        width: 100%
    }
    p.form-input-custom {
        width: 95% !important;
        margin: 0 auto !important
    }
    form#regis_form input,
    form#regis_form select {
        width: 100%
    }
    .cums_ccs {
        margin: 10px;
        width: 90%
    }
    form#regis_form {
        width: 100%;
        padding: 5px
    }
    div#exclusive-banner img {
        height: auto
    }
    div#exclusive-range {
        top: 0px
    }
    div#exclusive-range span {
        font-size: 18px
    }
    select.select_box.range_box {
        width: 90% !important;
        left: 0 !important;
        height: 31px !important;
        background: rgba(255, 255, 255, 0.54) !important;
        color: #000;
        font-size: 15px !important
    }
    div#exclusive-text,
    div#exclusive-text p {
        padding: 0px !important
    }
    {
        padding: 0px
    }
    .exclusive-sidebar {
        width: 100%;
        margin: 0;
        padding: 0
    }
    .exclusive-sidebar ul.exclusive-mm {
        width: 90% !important;
        margin: 0px !important;
        padding: 0px !important
    }
    .after-range-area .cat-fillter {
        width: 100%;
        margin: 0px !important
    }
    .after-range-area .cat-fillter h2 {
        margin-top: 5px !important
    }
    .cat-fillter select#pro_cat1 {
        width: 45% !important
    }
    .exclusive-sidebar + div#cat-dropdown {
        width: 95%;
        float: left;
        margin: 20px auto
    }
    .after-range-area div#exclusive-blog {
        width: 100%;
        margin: 0 auto;
        float: left
    }
    .after-range-area .image_tax {
        width: auto;
        height: 100% !important;
        text-align: center;
        float: left
    }
    .after-range-area img.attachment-.size- {
        margin: 0 auto;
        width: 100%;
        float: left;
        height: auto;
        padding: 0px !important
    }
    .after-range-area .des_tax {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0 auto
    }
    .tax_product {
        font-size: 23px
    }
    .ex-exclusive_box {
        width: 100%
    }
    .des_tax {
        margin: 20px auto !important;
        padding: 0px !important
    }
    .certificate ul li {
        width: 100%
    }
    .linking-menu ul {
        width: 95%
    }
    .linking-menu ul li {
        padding: 7px 10px;
        width: 100%
    }
    .certificate ul li:nth-child(3) img {
        width: 85%;
        height: auto
    }
    section.content_block_background .block-content-infra-right img {
        width: 90% !important;
        margin: 0 auto
    }
    section.content_block_background p {
        font-size: 14px;
        line-height: 22px;
        width: 90%;
        margin: 0 auto
    }
    ul.what-we-do-ul {
        width: 90%;
        margin: 0px 25px;
        padding: 0
    }
    img.alignright {
        width: 35%
    }
    section.content_block_background p {
        font-size: 14px;
        line-height: 22px;
        width: 100%;
        padding: 0px !important;
        margin: 0px
    }
    .contact-left {
        width: 90% !important;
        float: left;
        background: #e4e4e4
    }
    .form_contact_left,
    .form_contact_right,
    input.wpcf7-form-control.wpcf7-submit {
        width: 100% !important;
        padding: 20px
    }
    .contact-right {
        width: 100%;
        float: left;
        margin: 0 auto
    }
    .contact-info .form_contact_left {
        padding: 15px;
        box-sizing: border-box
    }
    .exclu_login {
        width: 90%;
        margin: 0;
        padding: 5%
    }
    .exclu_signup {
        width: 90%;
        margin: 2% 0;
        padding: 5%
    }
    .exclu_signup a {
        position: relative;
        top: 5px
    }
    .footer-one,
    .footer-two,
    .footer-three,
    .footer-four,
    .footer_bottom #copyright-info,
    .footer_bottom #news-latter {
        width: 100%;
        float: none;
        margin: 0 auto
    }
    ul#footer-content {
        padding: 0px 15px;
        margin: 0 auto;
        width: 90%;
        float: left
    }
    ul#footer-content li ul {
        padding: 0
    }
    ul#footer-content li ul li {
        padding: 3px 0px
    }
    ul#footer-content.social-icon li img {
        width: 45px;
        float: left;
        margin: 1px
    }
    ul#footer-content h2 {
        font-size: 13px;
        text-transform: uppercase;
        color: #fffec9;
        line-height: 20px
    }
    ul#footer-content li a,
    ul#footer-content .textwidget {
        font-size: 13px;
        line-height: 22px
    }
    div#mc_embed_signup_scroll {
        width: 90%;
        float: none;
        margin: 0 auto
    }
    div#mc_embed_signup_scroll label {
        width: 100%;
        float: left;
        line-height: 12px;
        text-align: left;
        padding: 6px
    }
    div#mc_embed_signup_scroll input#mce-EMAIL {
        width: 53%;
        float: left;
        margin: 0 1%;
        padding: 5px 10px
    }
    div#mc_embed_signup_scroll input#mc-embedded-subscribe {
        width: 33%;
        float: left;
        margin: 0 1%;
        padding: 0px 12px
    }
    #copyright-info h6 {
        font-size: 12px;
        text-align: center;
        width: 100%;
        float: left;
        line-height: 20px;
        margin: 10px 0px
    }
    .header_content h2 ~ p{
    	padding: 11px 0px;
    }
    .header_content h1 + p{
    	width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
    section#cbb {
        width: 90%;
        margin: 0 auto;
        clear: both
    }
    div#mm-container {
        width: 90%;
        margin: 0 auto
    }
    .mm-log-part {
        width: 100%;
        float: left;
        margin: 0
    }
    div#top-header-left {
        width: 50%;
        float: left;
        margin: 10px 7px
    }
    div#mm-login-bth {
        float: left
    }
    div#tog-login {
        position: absolute;
        left: 45px;
        top: 114px;
        width: 250px
    }
    .mm-signup-btn {
        float: left;
        margin-left: 10px
    }
    .mm-header_menus ul li {
        width: 90%;
        float: left;
        padding: 0px 6%
    }
    #menu-header_menu li .sub-menu li {
        width: 80%;
        float: left
    }
    ul#menu-header_menu {
        position: absolute;
        right: 9px;
        width: 190px !important;
        top: 30px;
        background-color: rgba(18, 18, 19, 0.9)
    }
    .mm-header_menus ul {
        display: none;
        background: #333;
        z-index: 10001
    }
    ul#menu-header_menu li a {
        display: block;
        width: auto;
        float: left
    }
    .exclusive_box,
    {
        width: 49%;
        height: auto;
        margin: 10px 2px
    }
    .mm-header-cart.but_cart {
        position: absolute;
        right: 85px
    }
    .exclusive_box h3,
    .exclusive_box a,
    .ex-exclusive_box h3 {
        font-size: 12px
    }
    .single-posts_left,
    .single-posts_right {
        width: 100%;
        float: left
    }
    .product-col {
        width: 130px
    }
    .product-row {
        position: relative
    }
    select#currency {
        position: absolute;
        left: 200px;
        top: 2px
    }
    img.about-us-img {
        margin-bottom: 20px;
        width: 50%;
        margin-left: 20px
    }
    p.form-input-custom {
        width: 100% !important;
        margin: 0 auto !important
    }
    form#regis_form input,
    form#regis_form select {
        width: 100%
    }
    .cums_ccs {
        margin: 10px
    }
    form#regis_form {
        width: 100%;
        padding: 5px
    }
    div#exclusive-range {
        top: 35px
    }
    .exclusive-sidebar ul.exclusive-mm {
        width: 100% !important
    }
    .after-range-area .cat-fillter h2 {
        font-size: 18px
    }
    .des_tax {
        margin: 20px auto !important;
        padding: 0px !important
    }
    .certificate ul li {
        width: 50%
    }
    section.content_block_background .block-content-infra-left p {
        width: 100%
    }
    section.content_block_background .block-content-infra-right img {
        width: 31.5% !important;
        margin: 5px 4px
    }
    img.alignright {
        width: 35%
    }
    section.content_block_background p {
        font-size: 14px;
        line-height: 22px;
        width: 100%;
        padding: 0px !important;
        margin: 0px
    }
    .contact-left {
        width: 90% !important;
        float: left;
        background: #e4e4e4
    }
    .form_contact_left,
    .form_contact_right,
    input.wpcf7-form-control.wpcf7-submit {
        width: 100% !important;
        padding: 20px
    }
    .contact-right {
        width: 100%;
        float: left;
        margin: 0 auto
    }
    .exclu_login {
        width: 90%;
        margin: 0;
        padding: 5%
    }
    .exclu_signup {
        width: 90%;
        margin: 2% 0;
        padding: 5%
    }
    .exclu_signup a {
        position: relative;
        top: 5px
    }
    .footer-one,
    .footer-two,
    .footer-three,
    .footer-four {
        width: 50%;
        float: left;
        margin: 0 auto
    }
    .footer-three {
        clear: left
    }
    ul#footer-content.social-icon li img {
        margin: 3px;
        width: 35px
    }
    ul#footer-content {
        padding: 5px 14px;
        margin: 0 auto;
        width: 90%;
        float: left
    }
}

@media (min-width: 569px) and (max-width: 767px) {
    .mm-header,
    .footer-wrap,
    .footer_bottom,
    .mm-logo,
    .mm-header_right {
        width: 100%
    }
    #sticky-anchor + #sticky.stick {
        position: relative;
        padding: 0;
        box-shadow: none
    }
    .mm-logo img {
        position: relative;
        left: 10px;
        right: 10px;
        width: auto
    }
    .mm-log-part {
        width: 90%;
        float: none;
        margin: 0 auto
    }
    div#top-header-left {
        width: 50%;
        float: left;
        margin: 10px 0
    }
    div#mm-login-bth {
        margin: 0 10px;
        line-height: 17px;
        margin-right: 0px
    }
    div#tog-login {
        position: absolute;
        left: 10px;
        top: 114px;
        width: 250px
    }
    .mm-language {
        display: none
    }
    ul#menu-header_menu {
        right: 20px;
        width: 86%
    }
    .mm-header_menus {
        float: left;
        background: none;
        width: 45%;
        position: relative
    }
    .mm-mobile_menu {
        width: 30px;
        float: right;
        display: block;
        right: 10px;
        position: absolute
    }
    .mm-mobile_menu span {
        width: 100%;
        height: 3px;
        float: left;
        margin-bottom: 3px;
        background: #333
    }
    .mm-header_menus:hover {
        display: block
    }
    .mm-header_menus ul li {
        width: 90%;
        float: left;
        padding: 0px 6%
    }
    #menu-header_menu li .sub-menu li {
        width: 80%;
        float: left
    }
    ul#menu-header_menu {
        position: absolute;
        right: 9px;
        width: 190px !important;
        top: 30px
    }
    .mm-header_menus ul {
        display: none;
        background-color: rgba(18, 18, 19, 0.9);
        z-index: 10001
    }
    ul#menu-header_menu li a {
        display: block;
        width: auto;
        float: left
    }
    span.arrow_up {
        color: #333333;
        width: 81px;
        float: left;
        margin-top: 3px;
        left: -70px;
        position: relative;
        text-align: right
    }
    span.arrow_up:before {
        content: '\203A';
        transform: rotate(90deg);
        padding-left: 0;
        padding-right: 3px;
        color: #fff;
        z-index: 10001
    }
    #menu-header_menu li .sub-menu a {
        width: 100%;
        line-height: 17px;
        background: black;
        padding: 7px
    }
    #menu-header_menu li .sub-menu {
        position: absolute;
        top: 23px;
        left: 7px;
        background-color: rgba(216, 208, 208, 0.49)
    }
    section#cbb {
        width: 90%;
        margin: 0 auto;
        clear: both
    }
    .single-posts_left,
    .single-posts_right {
        width: 100%;
        float: left
    }
    .product-col {
        width: 130px
    }
    .product-row {
        position: relative
    }
    select#currency {
        position: absolute;
        left: 200px;
        top: 2px
    }
    img.about-us-img {
        margin-bottom: 10px;
        width: 100%
    }
    .footer-one,
    .footer-two,
    .footer-three,
    .footer-four,
    .footer_bottom #copyright-info,
    .footer_bottom #news-latter {
        width: 100%;
        float: none;
        margin: 0 auto
    }
    ul#footer-content {
        padding: 10px 15px;
        margin: 0 auto
    }
    ul#footer-content li ul {
        padding: 0
    }
    ul#footer-content.social-icon li img {
        width: 45px;
        float: left;
        margin: 1px
    }
    ul#footer-content h2 {
        font-size: 13px;
        text-transform: uppercase;
        color: #fffec9;
        line-height: 20px
    }
    ul#footer-content li a,
    ul#footer-content .textwidget {
        font-size: 13px;
        line-height: 22px
    }
    div#mc_embed_signup_scroll {
        width: 90%;
        float: none;
        margin: 0 auto
    }
    div#mc_embed_signup_scroll label {
        width: 100%;
        float: left;
        line-height: 12px;
        text-align: left;
        padding: 6px
    }
    div#mc_embed_signup_scroll input#mce-EMAIL {
        width: 63%;
        float: left;
        margin: 0 1%
    }
    div#mc_embed_signup_scroll input#mc-embedded-subscribe {
        width: 33%;
        float: left;
        margin: 0 1%
    }
    #copyright-info h6 {
        font-size: 12px;
        text-align: center;
        width: 100%;
        float: left;
        line-height: 20px;
        margin: 10px 0px
    }
    div#mc_embed_signup_scroll input#mce-EMAIL {
        width: 53%;
        float: left;
        margin: 0 1%;
        padding: 5px 10px
    }
    div#mc_embed_signup_scroll input#mc-embedded-subscribe {
        width: 33%;
        float: left;
        margin: 0 1%;
        padding: 4px 12px
    }
    .exclu_login {
        width: 90%;
        margin: 0;
        padding: 5%
    }
    .exclu_signup {
        width: 90%;
        margin: 2% 0;
        padding: 5%
    }
    .exclu_signup a {
        position: relative;
        top: 5px
    }
}

@media only screen and (min-width: 569px) and (max-width: 767px) and (orientation: landscape) {
    #sticky-anchor + #sticky.stick {
        width: 100%;
        position: relative;
        padding: 0;
        box-shadow: none
    }
    .mm-log-part {
        width: 100%;
        float: left;
        margin: 0
    }
    div#mm-container {
        width: 90%;
        margin: 0 auto
    }
    .mm-coustom-form #product-loginform p.login-password,
    div#mm-login-bth {
        margin: 0
    }
    .mm-coustom-form #product-loginform p.login-submit {
        margin: 3px;
        margin-right: 10px
    }
    select#currency {
        width: 35%
    }
    div#mm-login-bth {
        float: left
    }
    div#tog-login {
        position: absolute;
        left: 33px;
        top: 114px;
        width: 250px
    }
    .range_filter,
    .category_filter {
        width: 49%;
        float: left
    }
    .range_filter select#pro_cat,
    .category_filter select#pro_cat1 {
        width: 58%;
        float: left;
        margin-left: 8px;
        height: auto !important
    }
    .category_filter h2,
    .range_filter h2 {
        margin-top: 5px
    }
    .exclusive_box,
    .ex-exclusive_box,
    .box {
        width: 49%
    }
    .mm-signup-btn {
        float: left;
        margin-left: 10px
    }
    .mm-header_menus ul li {
        width: 90%;
        float: left;
        padding: 0px 6%
    }
    #menu-header_menu li .sub-menu li {
        width: 80%;
        float: left
    }
    ul#menu-header_menu {
        position: absolute;
        right: 9px;
        width: 190px !important;
        top: 30px;
        background-color: rgba(18, 18, 19, 0.9)
    }
    .mm-header_menus ul {
        display: none;
        background: #333;
        z-index: 10001
    }
    ul#menu-header_menu li a {
        display: block;
        width: auto;
        float: left
    }
    .footer-one,
    .footer-two,
    .footer-three,
    .footer-four {
        width: 50%;
        float: left;
        margin: 0 auto
    }
    ul#footer-content.social-icon li img {
        margin: 3px;
        width: 35px
    }
    section#cbb {
        width: 90%;
        margin: 0 auto;
        clear: both
    }
    .mm-coustom-form #product-loginform p.login-username {
        width: 100%
    }
    .single-posts_left,
    .single-posts_right {
        width: 100%;
        float: left
    }
    .product-col {
        width: 130px
    }
    .product-row {
        position: relative;
        line-height: 38px
    }
    select#currency {
        position: absolute;
        left: 200px;
        top: 2px
    }
    img.about-us-img {
        margin-bottom: 20px;
        margin-left: 20px;
        width: 50%
    }
    p.form-input-custom {
        width: 50% !important;
        margin: 0 auto !important
    }
    form#regis_form input,
    form#regis_form select {
        width: 95%
    }
    .cums_ccs {
        margin: 10px
    }
    form#regis_form {
        width: 100%;
        padding: 5px
    }
    form#regis_form label {
        display: block
    }
    div#exclusive-range {
        top: 35px
    }
    div#exclusive-banner img {
        height: auto
    }
    .exclusive-sidebar + div#cat-dropdown {
        width: 100%
    }
    .exclusive-sidebar,
    .exclusive-sidebar ul.exclusive-mm,
    .after-range-area .cat-fillter {
        width: 90% !important
    }
    .after-range-area .cat-fillter h2 {
        font-size: 18px
    }
    .des_tax {
        margin: 20px auto !important;
        padding: 0px !important
    }
    .after-range-area .image_tax {
        width: 56%;
        margin: 0 20px
    }
    .after-range-area div#exclusive-blog {
        width: 100%;
        margin: 0 auto
    }
    .after-range-area img.attachment-.size- {
        height: auto
    }
    .certificate ul li {
        width: 50%
    }
    .certificate ul li img {
        min-width: 100px
    }
    .certificate ul li:nth-child(3) img {
        width: 85%;
        height: auto
    }
    section.content_block_background .block-content-infra-left p {
        width: 100%
    }
    section.content_block_background .block-content-infra-right img {
        width: 31.5% !important;
        margin: 5px 4px
    }
    img.alignright {
        width: 35%
    }
    section.content_block_background p {
        font-size: 14px;
        line-height: 22px;
        width: 100%;
        padding: 0px !important;
        margin: 0px
    }
    .contact-left {
        width: 90% !important;
        float: left;
        background: #e4e4e4
    }
    .form_contact_left,
    .form_contact_right,
    input.wpcf7-form-control.wpcf7-submit {
        width: 100% !important;
        padding: 20px
    }
    .contact-right {
        width: 100%;
        float: left;
        margin: 0 auto
    }
    .footer-three {
        clear: left
    }
    div#mc_embed_signup_scroll input#mc-embedded-subscribe {
        padding: 0px 12px
    }
    .exclu_login {
        width: 90%;
        margin: 0;
        padding: 5%
    }
    .exclu_signup {
        width: 90%;
        margin: 2% 0;
        padding: 5%
    }
    .exclu_signup a {
        position: relative;
        top: 5px
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #sticky-anchor + #sticky.stick {
        position: relative;
        padding: 0;
        box-shadow: none
    }
    .mm-signup-btn {
        margin-right: 10px
    }
    div#tog-login {
        position: absolute;
        right: 38px;
        top: 38px;
        width: 250px
    }
    span.arrow_up {
        color: #333333;
        width: 81px;
        height: 30px;
        float: left;
        margin-top: 0px;
        left: 8px;
        position: absolute;
        text-align: right
    }
    span.arrow_up:before {
        font-size: 11px
    }
    section#cbb {
        width: 90%;
        margin: 0 auto;
        clear: both
    }
    .range_filter,
    .category_filter {
        width: 48%;
        float: left
    }
    .range_filter h2,
    .category_filter h2 {
        margin-top: 5px
    }
    .exclusive_box,
    .box {
        width: 49%
    }
    .exclusive_box img,
    .ex-exclusive_box img,
    .box img {
        width: 100%;
        background-size: cover
    }
    .product-row {
        position: relative;
        line-height: 35px
    }
    select#currency {
        position: absolute;
        top: 0;
        left: 200px
    }
    img.about-us-img {
        margin-bottom: 20px;
        margin-left: 20px;
        width: 50%
    }
    p.form-input-custom {
        width: 100% !important;
        margin: 0 auto !important
    }
    form#regis_form input,
    form#regis_form select {
        width: 95%
    }
    .cums_ccs {
        margin: 10px
    }
    form#regis_form {
        width: 100%;
        padding: 5px
    }
    div#exclusive-range {
        top: 35px
    }
    div#exclusive-banner img {
        height: auto
    }
    .exclusive-sidebar + div#cat-dropdown {
        width: 100%
    }
    .exclusive-sidebar,
    .exclusive-sidebar ul.exclusive-mm,
    .after-range-area .cat-fillter {
        width: 90% !important
    }
    .after-range-area .cat-fillter h2 {
        font-size: 18px
    }
    .des_tax {
        margin: 20px auto !important;
        padding: 0px !important
    }
    .after-range-area .image_tax {
        width: 56%;
        margin: 0 20px
    }
    .after-range-area div#exclusive-blog {
        width: 100%;
        margin: 0 auto
    }
    .after-range-area img.attachment-.size- {
        height: auto
    }
    .certificate ul li {
        width: 50%
    }
    .certificate ul li img {
        min-width: 100px
    }
    .certificate ul li:nth-child(3) img {
        width: 85%;
        height: auto
    }
    section.content_block_background .block-content-infra-left p {
        width: 100%
    }
    section.content_block_background .block-content-infra-right img {
        width: 31.5% !important;
        margin: 5px 4px
    }
    img.alignright {
        width: 35%
    }
    section.content_block_background p {
        font-size: 14px;
        line-height: 22px;
        width: 100%;
        padding: 0px !important;
        margin: 0px
    }
    .contact-left {
        width: 90% !important;
        float: left;
        background: #e4e4e4
    }
    .form_contact_left,
    .form_contact_right,
    input.wpcf7-form-control.wpcf7-submit {
        width: 100% !important;
        padding: 20px
    }
    .contact-right {
        width: 100%;
        float: left;
        margin: 0 auto
    }
    ul#footer-content.social-icon li img {
        margin-right: 18px;
        margin-bottom: 25px
    }
    div#news-latter {
        margin: 10px 0
    }
    div#mc_embed_signup_scroll label {
        width: 100% !important;
        float: left;
        line-height: 18px;
        text-align: left
    }
    #mc_embed_signup input.email {
        width: 65% !important;
        margin-bottom: 5px;
        float: left
    }
    #mc_embed_signup .button {
        width: 30% !important
    }
    #copyright-info h6 {
        margin-top: 50px;
        line-height: 25px;
        text-align: center
    }
    div#mc_embed_signup_scroll input#mce-EMAIL {
        width: 53%;
        float: left;
        margin: 0 1%;
        padding: 5px 10px
    }
    div#mc_embed_signup_scroll input#mc-embedded-subscribe {
        width: 33%;
        float: left;
        margin: 0 1%;
        padding: 0px 12px
    }
    .page-id-5 div#footer-area {
        position: inherit;
        bottom: 0
    }
    .header_content h2 ~ p{
    	padding: 11px 0px;
    }
    .header_content h1 + p{
    	width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    div#tog-login {
        position: absolute;
        right: 96px;
        top: 38px;
        width: 250px
    }
    div#mm-container {
        width: 90%;
        margin: 0 auto
    }
    section#cbb {
        width: 90%;
        margin: 0 auto;
        clear: both
    }
    .range_filter,
    .category_filter {
        width: 48%;
        float: left
    }
    .range_filter h2,
    .category_filter h2 {
        margin-top: 5px
    }
    .exclusive_box,
    .box {
        width: 32%;
        margin: 10px 5px
    }
    .exclusive_box img,
    .ex-exclusive_box img,
    .box img {
        width: 100%
    }
    ul#footer-content.social-icon li img {
        margin-right: 35px;
        margin-bottom: 35px
    }
    div#news-latter {
        margin: 10px 0
    }
    div#mc_embed_signup_scroll label {
        width: 100% !important;
        float: left;
        line-height: 18px;
        text-align: left
    }
    #mc_embed_signup input.email {
        width: 65% !important;
        margin-bottom: 5px;
        float: left
    }
    #mc_embed_signup .button {
        width: 30% !important
    }
    .page-id-5 div#footer-area {
        position: relative;
        bottom: 0
    }
}

@media (min-width: 1025px) and (max-width: 1236px) {
    div#tog-login {
        position: absolute;
        right: 67px;
        top: 37px;
        width: 250px
    }
    .cycloneslider-slides.cycle-slideshow {
        width: 100%;
        margin: 0 auto
    }
    div#news-latter {
        margin: 10px 0
    }
    div#mc_embed_signup_scroll label {
        width: 100% !important;
        float: left;
        line-height: 18px;
        text-align: left
    }
    #mc_embed_signup input.email {
        width: 65% !important;
        margin-bottom: 5px;
        float: left
    }
    #mc_embed_signup .button {
        width: 30% !important
    }
}

.header_content h1 {
    padding: 10px 0px
}
