.wrap { margin-left:0!important}



#gpp_options h2 {

    margin-bottom: 20px;

}

#gpp_options h2 span{

    color: #888;

    font-size: 10px;

    font-style: normal;

    font-family: verdana,arial;



    

}

#gpp_options h2 span a{ color: #aaa; text-decoration: none;}

#gpp_options h2 span a:hover{ color: #888; text-decoration: underline;}

    

    

#gpp_options .title {

    margin: 10px 0 0 0 !important;

    padding: 10px 15px;

    width: 720px;

    background: #f1f1f1; 

    border:#e3e3e3 solid 1px;

    -moz-border-radius: 8px 8px 0 0;

		-webkit-border-radius: 8px 8px 0 0;

		border-radius: 8px 8px 0 0;

}



#gpp_options .title h3 {font-size: 24px;font-family : arial, serif;letter-spacing: -1px; font-weight: normal !important; margin:0!important; cursor: pointer; width:550px;  height:30px; line-height: 1.2;      }



#gpp_options .title p.submit { float:right; padding:0px;}



#gpp_options .gpp-expand { 

		background:#ddd;

		color:#777;

		cursor:pointer;

		display:block;

		float:left;

		font-size:15px;

		margin-right:10px;

		padding:6px 0 0 ;

		height:25px; width: 30px; text-align: center;

		-moz-border-radius: 8px;

		-webkit-border-radius: 8px;

		border-radius: 8px;

}



#gpp_options .container {

    background: #EAF3FA;

    padding: 10px;

}





#gpp_options .titledesc {

    font-size: 12px;

    font-weight: bold;

    display: block;

    line-height: 2em;

    float: left;

    width: 150px;

    margin-right: 10px;

}



#gpp_options .gpp_pages_title, #gpp_options .gpp_contact_info, #gpp_options .gpp_photoshelter, #gpp_options .gpp_link_addition, #gpp_options .gpp_iphone, #gpp_options .gpp_video {

	border-top: 1px solid #ddd;

}



#gpp_options .gpp_category_title .titledesc, #gpp_options .gpp_pages_title .titledesc, #gpp_options .gpp_contact_info .titledesc, #gpp_options .gpp_photoshelter .titledesc, #gpp_options .gpp_photoshelter_name .titledesc, #gpp_options .gpp_link_addition .titledesc, #gpp_options .gpp_iphone .titledesc, #gpp_options .gpp_video .titledesc {

	padding-left:34px;

	width: 125px;

}



#gpp_options .gpp_category_title .titledesc {

	background:url("images/categories.png") no-repeat scroll 0 0 transparent;

}

	

#gpp_options .gpp_pages_title .titledesc {

	background:url("images/pages.png") no-repeat scroll 0 0 transparent;

}



#gpp_options .gpp_contact_info .titledesc {

	background:url("images/contact.png") no-repeat scroll 0 0 transparent;

}



#gpp_options .gpp_photoshelter .titledesc, #gpp_options .gpp_photoshelter_name .titledesc {

	background:url("images/ps_menu_icon.png") no-repeat scroll 0 0 transparent;

}



#gpp_options .gpp_link_addition .titledesc {

	background:url("images/customize.png") no-repeat scroll 0 0 transparent;

}


#gpp_options .gpp_iphone .titledesc {

	background:url("images/iphone.png") no-repeat scroll 0 0 transparent;

}



#gpp_options .gpp_video .titledesc {

	background:url("images/video.png") no-repeat scroll 0 0 transparent;

}



#gpp_options .formcontainer {

    float: left;

}



#gpp_options .forminp {

    valign: middle !important;

    float: left

}



#gpp_options .forminp input,#gpp_options .forminp select,#gpp_options .forminp textarea {

    margin-bottom: 9px !important;

    background-color: #f1f1f1;

    border: 1px solid;

    border-color: #ccc #e6e6e6 #e6e6e6 #ccc;

    width: 275px;

    padding: 4px;

    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,sans-serif;

    font-size: 12px;

}

#gpp_options .forminp select {

padding: 0 0 0 4px; width: 280px;

} 



#gpp_options .forminp input.upload-input-text { width:280px; margin-right:10px }





#gpp_options .forminp input:focus,.forminp select:focus,.forminp textarea:focus { background:#fff}



#gpp_options .forminp span {

    font-size: 9px !important;

    font-weight: normal !important;

    line-height: 14px !important;

}



#gpp_options .input-text-small { width:80px!important;}

#gpp_options .meta-two { margin:0 10px}



#gpp_options .info {

    background: #FFFFCC url(images/info.png) no-repeat 10px center;

    border: 1px dotted #D8D2A9;

    padding: 20px 20px 20px 80px;

    color: #333;

    width:650px;

}



#gpp_options .forminp .checkbox {

    width: 20px;

    border:0;

    background: transparent none;

}



#gpp_options .option-radio input {

    width: 30px;

    text-align: left;       



}



#gpp_options .info a {

    color: #333;

    text-decoration: none;

    border-bottom: 1px dotted #333

}



#gpp_options .info a:hover {

    color: #666;

    border-bottom: 1px dotted #666;

}

#gpp_options .welcome{float: left; padding-top:4px;}



#gpp_options .warning {

    background: #ffeeee url(images/warning.png) no-repeat 10px center;;

    border: 1px dotted #cc0000;

    padding: 20px 20px 20px 80px;

    color: #333;

    font-weight: bold;

    width:650px

}



#gpp_options .errors {

    background: #fded82 url(images/error.png) no-repeat 10px center;;

    border: 1px dotted #fcc55c;

    padding: 20px 20px 20px 80px;

    color: #333;

    font-weight: normal;

    width:650px

}



#gpp_options .errors ul{ list-style: outside; padding-left: 30px; }

#gpp_options .errors ul li{  padding:  5px 0;}



#gpp_options .happy {

    background: #ccffcc url(images/accepted.png) no-repeat 10px center;

    border: 1px dotted #00CC00;

    padding: 20px 20px 20px 80px;

    color: #060;

    font-weight: bold;

    width:650px

}



#gpp_options .desc {

    font-size: 10px;

    margin-left: 320px;

    width: 200px;

    color: #999;

    display: block;

}



/* Make me Speacial */



#gpp_options .option-checkbox .desc {margin-left: 50px; width:470px }







#gpp_options .option_content {

    width:752px;

    border-bottom:#e3e3e3 solid 1px;

    

}



#gpp_options .image_uploader .option-inner{ width:720px!important}





#gpp_options .option {

    display: block;

    float: left;clear: left;

    width: 750px;

    border-left:#e3e3e3 solid 1px;

    border-right:#e3e3e3 solid 1px;

}



#gpp_options .option-inner {

    float: left;

    padding:10px 15px;

    margin: 12px 15px;

    width: 700px

}



#gpp_options .uploader_page { background-color:#f1f1f; border:solid #e6e6e6; border-width:0px 1px 1px 1px; padding:10px; width:730px}

#gpp_options .uploader_page_image {float:left}

#gpp_options .uploader_page_input { margin-left:260px; }

#gpp_options .uploader_page_input span { font-size:12px; display:block; margin-bottom:5px; font-weight:700}

#gpp_options .uploader_page_input input {border:1px solid #ddd; padding:4px; width:460px; font-size:11px; background-color:#f1f1f1}



#gpp_options .upload_input {width:200px!important; border:#ccc}

#gpp_options .upload_save { width: 70px!important;}





#gpp_options #gpp-icon {

    background: transparent url(images/icon-48.png) no-repeat scroll 0 6px;

    width: 48px

}



.submit-footer { float: left; margin-right: 20px;}

.reset-button { background: #FF9B9B none!important;}



#scrollme {text-align: right; position:absolute;top:52px; left:758px}

*+html #scrollme {left:708px}

#scrollme p{ background: #ddd; padding: 10px 20px; position: block; background: #D6FFD0; border: #ACFFA0 1px solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px}



/*

#gpp_options * {border:1px solid red}

*/





/* Meta Box

----------------------------------------------------------------------------------------------------*/



#container {

	padding:5px;

	background:#f9f9f9;

	/*border:#dfdfdf 1px solid;*/

	}



#container input {width:350px;}



#container img {height:80px;}

	

.thumb_img {

	border:#dfdfdf 1px solid;

	padding:5px;

	float:right;

	min-height:80px;

	min-width:80px;

	text-align:center;

	margin-top:-45px;

	margin-right:5px;

	background:#fff url('images/no_pic.png') center no-repeat;

	}



#notice {padding:5px 5px 10px 5px;}



#notice_video {

	padding:10px 5px 10px 5px;

	border-top:#dfdfdf 1px solid;

	}



#picture_box {

	border-top:#dfdfdf 1px solid;

	padding:10px 5px 10px 5px;

	}



#upload_button {

	cursor:default;

	padding:16px 0 5px 8px;

	height:14px;

	background:url('images/upload.png') no-repeat 0 10px;

	text-decoration:none;

	}



#upload_button a {text-decoration:none;}

.rm_upload p.awdMetaImage img
{
	max-width:695px; 
}