.am_wrap{width:740px;}



.am_section{

	border:1px solid #dfdfdf;

	border-bottom:0;

	background:#f9f9f9;

	}



.am_opts label{

	font-size:11px;

	font-weight:bold;

	width:170px;

	display:block;

	float:left;

	vertical-align:middle;

	}



.am_input {

	padding:15px 5px 15px 15px;

	border-bottom:1px solid #dfdfdf;

	border-top:1px solid #fff;

	}

	

.am_opts small{

	display:block;

	float:right;

	width:250px;

	color:#999;

	padding-right:15px;

	}

	

.am_opts input[type="text"], .am_opts select{

	width:250px;

	font-size:11px;

	padding:2px;

	color:#333;

	line-height:1em;

	background:#f3f3f3;

	}

	

.am_input input:focus, .am_input textarea:focus{background:#fff;}



.am_input textarea{

	width:250px;

	height:130px;

	font-size:11px;

	padding:4px;

	color:#333;

	line-height:1.5em;

	background:#f3f3f3;

	}

	

.am_title h3 {

	cursor:pointer;

	font-size:1em;

	/*text-transform:uppercase;*/

	margin:0;

	font-weight:bold;

	color:#222;

	float:left;

	width:80%;

	padding:15px 5px 10px 5px;

	font-size:12px;

	}



.am_title{

	cursor:pointer;

	border-bottom:1px solid #dfdfdf;

	background:#f1f1f1;

	padding:0;

	}



.am_title h3 img.inactive{

	margin:-6px 10px 0 2px;

	width:32px;

	height:32px;	

	background:url('images/pointer.png') no-repeat 0 0;

	float:left;

	}



.am_title h3 img.active{

	margin:-5px 10px 0 2px;

	width:32px;

	height:32px;

	background:url('images/pointer.png') no-repeat  0 -32px;

	float:left;

	}

		

.am_title h3:hover img{}



.am_title span.submit{

	display:block;

	float:right;

	margin:0;

	padding:0;

	width:15%;

	padding:14px 0;

	}



.clearfix{clear:both;}



.am_table th, .am_table td{

	border:1px solid #bbb;

	padding:10px;

	text-align:center;

	}



.am_table th, .am_table td.feature{border-color:#888;}



.save {margin-top:0;padding-top:0;}





/* Meta Box

----------------------------------------------------------------------------------------------------*/



#container {

	padding:5px;

	background:#f9f9f9;

	/*border:#dfdfdf 1px solid;*/

	}



#container input {width:350px;}



#container img {height:80px;}

	

.thumb_img {

	border:#dfdfdf 1px solid;

	padding:5px;

	float:right;

	min-height:80px;

	min-width:80px;

	text-align:center;

	margin-top:-45px;

	margin-right:5px;

	background:#fff url('images/no_pic.png') center no-repeat;

	}



#notice {padding:5px 5px 10px 5px;}



#notice_video {

	padding:10px 5px 10px 5px;

	border-top:#dfdfdf 1px solid;

	}



#picture_box {

	border-top:#dfdfdf 1px solid;

	padding:10px 5px 10px 5px;

	}



#upload_button {

	cursor:default;

	padding:16px 0 5px 8px;

	height:14px;

	background:url('images/upload.png') no-repeat 0 10px;

	text-decoration:none;

	}



#upload_button a {text-decoration:none;}

#footer
{
display:none;
}
.texted div
{
   margin-left: 172px;
}
.nicEdit-panelContain {
    margin: 0 !important;
}
.nicEdit-panelContain div{
   margin: 0 !important;
}
.nicEdit-main 
{
	 margin: 0 !important;

	  padding-left: 7px !important;
}
.nicEdit-main div{
    margin: 0 !important;
	padding-left: 9px;
}
#dhtmlgoodies_colorPicker{
		position:absolute;
		width:250px;
		padding-bottom:1px;
		background-color:#FFF;
		border:1px solid #317082;
		
		width: 252px;	/* IE 5.x */
		width/* */:/**/250px;	/* Other browsers */
		width: /**/250px;	
				
	}
	
	#dhtmlgoodies_colorPicker .colorPicker_topRow{
		padding-bottom:1px;
		border-bottom:3px double #317082;
		background-color:#E2EBED;
		padding-left:2px;
		
		width: 250px;	/* IE 5.x */
		width/* */:/**/248px;	/* Other browsers */
		width: /**/248px;	
		
		height: 20px;	/* IE 5.x */
		height/* */:/**/16px;	/* Other browsers */
		height: /**/16px;	
				
	}
	
	#dhtmlgoodies_colorPicker .colorPicker_statusBar{
		height:13px;
		padding-bottom:2px;
		width:248px;
		border-top:3px double #317082;	
		background-color:#E2EBED;
		padding-left:2px;
		clear:both;
		
		width: 250px;	/* IE 5.x */
		width/* */:/**/248px;	/* Other browsers */
		width: /**/248px;	
		
		height: 18px;	/* IE 5.x */
		height/* */:/**/13px;	/* Other browsers */
		height: /**/13px;	
						
	}
	
	#dhtmlgoodies_colorPicker .colorSquare{
		margin-left:1px;
		margin-bottom:1px;
		float:left;
		border:1px solid #000;
		cursor:pointer;
		
		width: 12px;	/* IE 5.x */
		width/* */:/**/10px;	/* Other browsers */
		width: /**/10px;	
		
		height: 12px;	/* IE 5.x */
		height/* */:/**/10px;	/* Other browsers */
		height: /**/10px;	
				
	}
	
	.colorPickerTab_inactive,.colorPickerTab_active{
	
		height:17px;
		padding-left:4px;
		cursor:pointer;	
		
		
	}
	.colorPickerTab_inactive span{
		background-image:url('images/tab_left_inactive.gif');
	}
	
	.colorPickerTab_active span{
		background-image:url('images/tab_left_active.gif');

	}
	.colorPickerTab_inactive span, .colorPickerTab_active span{
		line-height:16px;
		font-weight:bold;
		font-family:arial;
		font-size:11px;
		padding-top:1px;
		vertical-align:middle;
		background-position:top left;
		background-repeat: no-repeat;	
		float:left;
		padding-left:6px;
		-moz-user-select:no;
	}	
	.colorPickerTab_inactive img,.colorPickerTab_active img{
		float:left;
	}
	.colorPickerCloseButton{
		width:11px;
		height:11px;
		text-align:center;
		line-height:10px;
		border:1px solid #317082;
		position:absolute;
		right:1px;
		font-size:12px;
		font-weight:bold;
		top:1px;
		padding:1px;
		cursor:pointer;	
		
		width: 15px;	/* IE 5.x */
		width/* */:/**/11px;	/* Other browsers */
		width: /**/11px;
		
		height: 15px;	/* IE 5.x */
		height/* */:/**/11px;	/* Other browsers */
		height: /**/11px;

			
	}
	#colorPicker_statusBarTxt{
		font-size:11px;
		font-family:arial;
		vertical-align:top;
		line-height:13px;

	}

	.form_widget_amount_slider{
		border-top:1px solid #9d9c99;
		border-left:1px solid #9d9c99;
		border-bottom:1px solid #eee;
		border-right:1px solid #eee;
		background-color:#f0ede0;
		position:absolute;
		bottom:0px;
		
		width: 5px;	/* IE 5.x */
		width/* */:/**/3px;	/* Other browsers */
		width: /**/3px;
		
		height: 5px;	/* IE 5.x */
		height/* */:/**/3px;	/* Other browsers */
		height: /**/3px;
				
	}
	.colorSliderLabel{
		width:15px;
		height:20px;
		float:left;
		font-size:11px;
		font-weight:bold;
	}
	.colorSlider{
		width:175px;
		height:20px;
		float:left;
	}
	.colorInput{
		width:45px;
		height:20px;
		float:left;
	}	
	.colorPreviewDiv{
		width:186px;
		margin-right:2px;
		margin-top:1px;
		border:1px solid #CCC;
		height:20px;
		float:left;
		cursor:pointer;
		
		width: 188px;	/* IE 5.x */
		width/* */:/**/186px;	/* Other browsers */
		width: /**/186px;
		
		height: 22px;	/* IE 5.x */
		height/* */:/**/20px;	/* Other browsers */
		height: /**/20px;
				

	}
	.colorCodeDiv{
		width:50px;
		height:20px;
		float:left;
	}